<mat-card>
    <mat-card-title>Alterar Livro</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
                [(ngModel)]="product.nome_livro" name="nome_livro" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Autor" 
                [(ngModel)]="product.autor" name="autor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ano de Lançamento" 
                [(ngModel)]="product.ano_lancamento" name="ano_lancamento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Páginas" 
                [(ngModel)]="product.paginas" name="paginas">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" 
                [(ngModel)]="product.preco" name="preco">
        </mat-form-field>
    </form>
    
    <button class="save" mat-raised-button (click)="updateProduct()" >
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()" color="">
        cancelar
    </button>
</mat-card>